.main-menu {
	list-style: none;
	float: right;
	padding-top: 25px;
}

.main-menu li {
	display: inline;
}

.main-menu li a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-left: 50px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.main-menu li a:hover {
	color: #eb2b63;
}
