body{
    background-color:lightgray;
}

.sidebar {
    width: 15%;
    position: absolute;
    top: 0px;
    bottom: 0%;
    background-color:black;
    display:block;
    
}
.sidebar a{
    color: white;
    position:  absolute;
    top: 10%;
}
.contenu{
    width: 75%;
    position: absolute;
    left: 15%;
    top: 8%;
    bottom: 0%;
}

.domaine {
    width: 15%;
    height: 13em;
    margin-top: 5%;
    margin-left: 50px;
    position: relative;
    top: 15%;
  /*  height:20%; */
}

#footer {
    position: absolute;
    bottom: 0%;
}
